<mat-card [ngClass]="{ 'text-center': !fullWidth }">
  <div [ngClass]="{ flex: fullWidth }">
    <img
      src="https://via.placeholder.com/150"
      alt="product"
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-[200px]': !fullWidth, 'h-[320px]': fullWidth }"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidth }"
    >
      <div>
        <h3>SmartPhone</h3>
        <span class="text-sm">New Arrival</span>
        <p class="truncate hover:whitespace-normal" *ngIf="fullWidth">
          Description
        </p>
      </div>
      <div class="flex justify-between">
        <span class="text-white">{{ "40" | currency }}</span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-indigo-600">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
