<div
  *ngIf="banner"
  class="pt-14 px-10 bg-indigo-600 rounded-2xl relative h-[400px] text-white w-full"
>
  <div class="flex justify-between">
    <div class="left-0 w-[200px]">
      <p class="m-4.5">{{ banner.discount }}</p>
      <p class="font-extrabold text-4xl">{{ banner.largeText1 }}</p>
      <p class="font-extrabold text-4xl">{{ banner.largeText2 }}</p>
      <p class="m-4.5 text-sm">{{ banner.saleTime }}</p>
    </div>
    <div class="right-0 w-[500px]">
      <p class="text-lg">{{ banner.smallText }}</p>
      <p class="font-extrabold text-4xl">{{ banner.midText }}</p>
      <p class="text-lg">{{ banner.desc }}</p>
      <a href="#">
        <button type="button" class="bg-neutral-800 p-3 rounded text-xl">
          {{ banner.buttonText }}
        </button>
      </a>
    </div>
    <img
      [src]="banner.image"
      [alt]="banner.product"
      class="top-5 left-1/4 absolute w-[500px]"
    />
  </div>
</div>
