<div>
  <mat-drawer-container class="min-h-screen w-full p-20">
    <div class="grid grid-cols-2" *ngIf="product">
      <div>
        <img [src]="product.image" [alt]="product.slug.current" />
      </div>
      <div class="flex flex-col justify-between">
        <div>
          <p class="text-4xl">{{ product.name }}</p>
          <p class="text-sm">{{ product.category }}</p>
          <p class="text-2xl">Details</p>
          <p class="text-xl">
            {{ product.details }}
          </p>
        </div>
        <div class="flex justify-between">
          <p>{{ product.price }}</p>
          <div class="flex justify-between">
            <button class="bg-gray-500 rounded p-2 text-lg">Add to Cart</button>
            <button class="bg-indigo-500 rounded p-2 ml-5 text-lg">
              Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
