<div>
  <mat-drawer-container class="min-h-screen w-full p-20">
    <div class="grid grid-cols-2">
      <div>
        <img src="https://via.placeholder.com/400" alt="example" />
      </div>
      <div class="flex flex-col justify-between">
        <div>
          <p class="text-4xl">Product Name</p>
          <p class="text-sm">Category</p>
          <p class="text-2xl">Details</p>
          <p class="text-xl">
            Fugiat irure aliqua laboris cillum laboris sunt esse sint do aute.Ex
            labore quis enim laborum ullamco.Officia elit tempor elit quis
            veniam quis incididunt culpa ullamco aliqua officia velit.
          </p>
        </div>
        <div class="flex justify-between">
          <p>Price</p>
          <div class="flex justify-between">
            <button class="bg-gray-500 rounded p-2 text-lg">Add to Cart</button>
            <button class="bg-indigo-500 rounded p-2 ml-5 text-lg">
              Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
