<div>
  <mat-drawer-container class="min-h-screen w-full p-20">
    <div class="grid grid-cols-2 gap-10 gap-y-20" *ngIf="product">
      <div class="bg-white rounded w-[500px]">
        <img [src]="product.image" [alt]="product.slug.current" />
      </div>
      <div class="flex flex-col justify-between">
        <div>
          <p class="text-4xl">{{ product.name }}</p>
          <p class="text-sm capitalize">{{ product.category }}</p>
          <p class="text-2xl">Details</p>
          <p class="text-xl">
            {{ product.details }}
          </p>
        </div>
        <div class="flex justify-between">
          <p class="text-xl">${{ product.price }}</p>
          <div class="flex justify-between">
            <button
              class="bg-gray-500 rounded p-2 text-lg"
              (click)="onAddToCart(product)"
            >
              Add to Cart
            </button>
            <button
              class="bg-indigo-500 rounded p-2 ml-5 text-lg"
              (click)="onCheckout()"
            >
              Purchase
            </button>
          </div>
        </div>
      </div>
      <div class="col-span-full">
        <p class="text-center text-3xl">Recomended Products</p>
        <mat-grid-list
          class="py-10"
          gutterSize="5"
          [cols]="6"
          [rowHeight]="500"
          *ngIf="recProducts && recProducts.length"
        >
          <mat-grid-tile *ngFor="let product of recProducts">
            <app-card
              [product]="product"
              class="w-full"
              (addToCart)="onAddToCart($event)"
            ></app-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-drawer-container>
</div>
