<mat-toolbar class="w-full justify-between items-center pb-2">
  <a routerLink="home" class="flex items-center">
    <span> TechVibe </span>
  </a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu" class="bg-gray-300">
    <app-cart [itemsQuantity]="itemsQuantity" [cart]="cart"></app-cart>
  </mat-menu>
</mat-toolbar>
