<mat-card *ngIf="cart.items.length" class="h-screen">
  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>PRODUCT</th>
      <td mat-cell *matCellDef="let el">
        <img src="{{ el.image }}" alt="{{ el.title }}" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button routerLink="/home">Continue Shopping</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NAME</th>
      <td mat-cell *matCellDef="let element">
        <p class="truncate max-w-xs">{{ element.name }}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>PRICE</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price | currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>QUANTITY</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon class="border rounded-full text-base">remove</mat-icon>
        </button>
        <span>{{ element.quantity }}</span>
        <button mat-icon-button>
          <mat-icon class="border rounded-full text-base">add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>TOTAL</th>
      <td mat-cell *matCellDef="let element">
        {{ element.quantity * element.price | currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-5 block">{{
          getTotal(cart.items) | currency
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-raised-button color="warn" class="float-right">
          Clear All
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="warn" class="float-right">
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button mat-raised-button color="primary" class="float-right">
          Proceed To Checkout
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="currCols"></tr>
    <tr mat-row *matRowDef="let row; columns: currCols"></tr>
    <tr mat-footer-row *matFooterRowDef="currCols"></tr>
  </table>
</mat-card>
<mat-card *ngIf="!cart.items.length" class="h-screen">
  <p>Cart is empty</p>
  <button mat-raised-button routerLink="/home">Go Shopping</button>
</mat-card>
