<div class="px-24 py-10 bg-gray-400 rounded-3xl text-xl relative h-500 w-full">
  <div>
    <p class="text-xl">smallText</p>
    <h3 class="text-6xl mt-1">midText</h3>
    <h1 class="text-white text-9xl -ml-5 uppercase">largeText1</h1>
    <img
      class="relative left-60 -top-40 w-[100px]"
      src=""
      alt="smart-watch-4"
    />
    <div>
      <a href="#">
        <button
          class="rounded-2xl px-2.5 py-4 bg-indigo-600 text-white mt-10 text-lg font-medium cursor-pointer"
          style="z-index: 10000"
        >
          buttonText
        </button>
      </a>
      <div class="absolute right-3 bottom-1 w-[300px] flex flex-col">
        <h5 class="mb-3 font-bold text-base self-end text-indigo-600">
          Description
        </h5>
        <p class="font-base text-end text-gray-600">desc</p>
      </div>
    </div>
  </div>
</div>
