<main class="bg-neutral-800">
  <app-header-banner *ngIf="banners" [banner]="banners[0]"></app-header-banner>
  <mat-drawer-container [autosize]="true" class="w-full">
    <mat-drawer mode="side" opened class="p-8">
      <app-filters (currentCategory)="currentCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
      <app-products-header (colsChange)="colsChange($event)">
      </app-products-header>
      <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
        <mat-grid-tile *ngFor="let product of products">
          <app-card
            [product]="product"
            (addToCart)="onAddToCart($event)"
            class="w-full"
            [fullWidth]="cols === 1"
          ></app-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-drawer-content>
  </mat-drawer-container>
  <app-footer-banner *ngIf="banners" [banner]="banners[1]"></app-footer-banner>
</main>
